.card {
  min-height: 30rem;
  width: 70vw;
  background: #f1f1f1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  padding: 10px 5px;
}

hr {
  width: 10em;
  font-weight: bolder;
  margin-left: 0;
}
